{
    "bot": {
        "qq": "123456789"
    },
    "server": {
        "host": "127.0.0.1",
        "port": 8080,
        "access_token": ""
    },
    "client": {
        "host": "127.0.0.1",
        "port": 5700,
        "access_token": ""
    },
    "amap_api": {
        "key": "your amp api key",
        "host": "restapi.amap.com",
        "port": 443,
        "path": "/v3/weather/weatherInfo"
    },
    "ai_api": {
        "key": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "model": "xxx",
        "host": "api.siliconflow.cn",
        "port": 443,
        "path": "/v1/chat/completions",
        "system_prompts": "",
        "max_tokens": 4096
    },
    "b23": {
        "app_id": "1109937557",
        "host": "api.bilibili.com",
        "port": 443,
        "path": "/x/web-interface/view"
    },
    "file": {
        "download_size_limit": 300000000,
        "cache_path": "path/to/cache",
        "cache_file_limit": 10,
        "buffer_size": 6400
    },
    "random_img": {
        "host": "www.loliapi.com",
        "port": 443,
        "path": "/bg/?id=23&type=json"
    }
}