{
    "bot": {
        "qq": "123456789"
    },
    "server": {
        "host": "127.0.0.1",
        "port": 8080,
        "access_token": ""
    },
    "client": {
        "host": "127.0.0.1",
        "port": 5700,
        "access_token": ""
    },
    "amap_api": {
        "key": "your amp api key",
        "host": "restapi.amap.com",
        "port": 443,
        "path": "/v3/weather/weatherInfo"
    },
    "ai_api": {
        "key": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "model": "xxx",
        "host": "api.siliconflow.cn",
        "port": 443,
        "path": "/v1/chat/completions",
        "system_prompts": "",
        "max_tokens": 4096
    }
}